
(250618)GWP_RawSubset_MyanmarProject.rds
research/Myanmar_Proposal.docx
research/~$anmar_Proposal.docx
data/(250701)GWP_cleaned_MyanmarProject.rds
(250703)GWP_RawSubset_MyanmarProject.rds
data/acled/acled_mmr.rds
data/GWP_myanmar_2014_2024.rds
data/uppsala/GEDEvent_v25_1.rds
/data
(250717)GWP_RawSubset_MyanmarProject.rds
data/GWP_myanmar_2014_2024.rds
data/GWP_myanmar_2014_2024.rds
data/GWP_myanmar_2014_2024.rds
*.rds
Testing.R
.specstory/history/2025-11-21_20-22Z-generate-wp16-distribution-plots-for-countries.md
figures/wp16_distribution_afghanistan_2022_2024.png
figures/wp16_distribution_finland_2022_2024.png
figures/wp16_distribution_india_2022_2024.png
figures/wp16_distribution_united_states_2022_2024.png
figures/wp16_distribution_venezuela_2022_2024.png
figures/wp16_distribution_yemen_2022_2024.png
wp16_distribution_plots.R
/.specstory
/.specstory/history
/.specstory
/.specstory
/.specstory
.specstory/history/2025-08-08_17-56Z-what-does-this-do-exactly.md
.specstory/history/2025-07-21_18-44Z-troubleshooting-library-loading-issues.md
